html{
    font-family: 100;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

header{
    background-color: #7dd7f6
}

a{
    text-decoration: none;
    color: #23008c
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-branding{
    font-size: 2rem;
    color: #23008c;
}

.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #23008c;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: background 0.3s;
    margin: 2px;
}

/* selected style, added in js */
.select-clicked{
    border: 2px gray solid;
    /* background-color: gray; */
}

.select:hover{
    background-color: #2ec5f7;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #23008c;
    transition: 0.3s;
    padding: 0px;
    margin: 2px
}

/* rotate styles - added in js */
.caret-rotate {
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.1em 0.2em;
    background: #2ec5f7;
    border: 1px solid black;
    border-radius: 0.5em;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    position: absolute;
    top: 3em;
}

.menu li{
    padding: 0.2em 0.2em;
    margin: 0.2em 0;
    border-radius: 0.5em;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}

/* .menu li:hover{
    background:#5f2bfd;
} */

/* Active styles (added in js) */
.active{
    background: #23008c
}

/* open styles added in js */

.menu-open{
    display: block;
    opacity: 1;
}


.utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utilities > *{
    padding: 5px
}

/* slider toggle styles */

.switch {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1em;
    margin: 5px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    left: 0.05em;
    bottom: 0.05em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #23008c;
}
  
/* input:focus + .slider {
    box-shadow: 0 0 1px #23008c;
} */
  
input:checked + .slider:before {
    /* -webkit-transform: translateX(0.5em); */
    /* -ms-transform: translateX(0.5em); */
    transform: translateX(0.5em);
}



#board{
    position:absolute;
    top: 20%;
    left: 15%;
    width: 70%;

    display:flex;
    justify-content: space-around;
 }

#reset{
    position: absolute;
    top: 21.3%;
    left: 0%;
    border: 1px black solid

}

.button-off{
    background-color: #23008c;
    width: 9%;
    height: 0;
    padding-bottom: 8%;
}

.button-on{
    background-color:#2ec5f7;
    width: 9%;
    height: 0;
    padding-bottom: 8%;
}

.target-off{
    border: 5px solid #23008c
}

.target-on{
    border: 5px solid #2ec5f7
}
