:root{
    --off-color: rgb(35, 0, 140);
    --on-color: rgb(43, 196, 247);
}

html{
    font-family: 100;
    line-height: 1.5em;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

header{
    background-color: #7dd7f6;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-branding{
    font-size: 2rem;
    color: var(--off-color);
}

.utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utilities > *{
    padding: 5px
}

.utilities-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.utilities-item:hover{
    background-color: var(--on-color);
}

.utilities-icon{
    border-radius: 50%;
}

.nav-icon{
    width: 2em;
}

.popup{
    border: 3px var(--off-color) solid;
    border-radius: 0.5em;
    background-color: rgb(194, 240, 255);
    
    display: none;
    transition: 0.2s;
    list-style: none;
    padding: 0.1em 0.2em;
    z-index: 1;
}

#widePopupWindows{
    position:absolute;
    width: 100vw;
}

@media (max-width:2680px) and (min-width:475px){
    
    .navbar{
        height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }
    
    .widePopup{
        width: 475px;
        margin-left: auto;
        margin-right: auto;
    }
    .help-default{
        border-width: 5px;
        border-radius: 10px;
    }
}

@media (max-width:475px){

    .navbar{

        height: 6.8em;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        padding: 15px;
    }

    .utilities{
        float:right;
    }
    
    .widePopup{
        width:100%;
        font-size: 3.3vw;
    }

}

.dropdown{
    position: relative;
}

.select{
    border: 2px solid var(--off-color);
    border-radius: 0.5em;
    padding: 0.5em;
}

.caret{
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.4em solid var(--off-color);
    transition: 0.3s;
    padding: 0;
    margin: 0.3em;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu{
    width: 90%;
    position: absolute;
    top: 3em;
}

.menu li{
    padding: 0.2em 0.2em;
    margin: 0.2em 0;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
}

.active{
    background: var(--off-color);
    color: white
}

.settingsMenu li{
    padding: 0.5em 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsMenu>ul{
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.settingsMenu li>a{
    color: gray;
}

.menu-open{
    display: block;
}

/* slider toggle styles */

.switch {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1em;
    margin: 5px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    left: 0.05em;
    bottom: 0.05em;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--off-color);
}
  
input:checked + .slider:before {
    transform: translateX(0.5em);
}


/* Styling the "show switches" mode  */
.switches{
    visibility:hidden;
    display: flex
}
.switches>div{
    margin: 0.2em
}

.switches-display{
    visibility: visible;
}


/* Styling distance to solve box */
.distance{
    visibility: hidden;
    display: flex;
}

.distance-display{
    visibility: visible;
}

.distance>div{
    margin: 0.2em
}


.help-open{
    display:block;
}

.miniboard{
    display: flex;
    width: 60%;
}

#moves{
    font-size: 1.3em;
    display: flex;
}

#moves>p{
    padding:0.5em 0.2em;
    margin:0;
}

#movesRemaining{
    color: red;
}

.solveMessage{
    border: 3px #ffbb00 solid;
    border-radius: 0.5em;
    background-color: #ffd700;
    position: absolute;
    top: 50%;
    left:20%;
    width: 8em;
    text-align: center;
    font-size: 2em;
    display: none;
}

.solveMessage>p{
    margin: 0;
    padding: 0.5em 0.1em
}

.solveMessage>footer{
    float: right
}

.solve-icon{
    width: 1em;
}

.solve-icon:hover{
    background-color: #ff9900;
    border-radius: 50%;
    cursor: pointer;
}

.solve-show{
    display: block;
}

.failMessage{
    border: 3px #a50000 solid;
    border-radius: 0.5em;
    background-color: #ff7979;
    position: absolute;
    top: 50%;
    left:20%;
    width: 8em;
    text-align: center;
    font-size: 2em;
    display: none;
}

.failMessage>p{
    margin: 0;
    padding: 0.5em 0.1em
}

.failMessage>footer{
    float: right
}

.fail-icon{
    width: 1em;
}

.fail-icon:hover{
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
}

.fail-show{
    display: block;
}


/* #game{
    background-color: rgb(175, 174, 174);
}

#gameInfo{
    border: 1px black solid;
} */

@media (min-width:650px){

    #gameInfo{
        float:left;
    }
    
    #board{
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;
        padding: 0 3vw;
        /* float:left; */
    }

}

@media (max-width:650px){
    #board{
        margin-left: auto;
        margin-right: auto;
        padding: 0 3vw;
    }
}

#board{
    display: flex;
    justify-content: space-between;
    /* border: 1px black solid; */
 }

@media (max-width:2680px) and (min-width:475px){
    .help-default{
        border-width: 5px;
        border-radius: 10px;
    }
}


/* Block stylings */

.default{
    aspect-ratio: 1/1;
    margin: 0.5vw;
    width: 30%;
    background-color: var(--off-color);
    border: 1vw solid var(--off-color);
    border-radius: 2vw;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6vw
}


.button-on{
    background-color:var(--on-color);
}

.target-on{
    border-color: var(--on-color);
}

.highlight-on{
    background-color: rgba(46,197,247,0.3)
}

.highlight-off{
    background-color: rgba(35,0,140,0.5);
}